@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf") format("truetype"),
       url("fonts/OpenSans-BoldItalic.ttf") format("truetype"),
       url("fonts/OpenSans-ExtraBold.ttf") format("truetype"),
       url("fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
       url("fonts/OpenSans-Italic.ttf") format("truetype"),
       url("fonts/OpenSans-Light.ttf") format("truetype"),
       url("fonts/OpenSans-LightItalic.ttf") format("truetype"),
       url("fonts/OpenSans-Regular.ttf") format("truetype"),
       url("fonts/OpenSans-SemiBold.ttf") format("truetype"),
       url("fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}


h1 {
  color: #00305D;
  font-family: "Open Sans";
}
div {
  color: #00305D;
  font-family: "Open Sans";
}
